Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

Revert "Register learning.is-cool.me"
  domains/learning.is-cool.me.json
Owners: @is-cool-me/maintainers

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Revert "feat(domain): add `mayank.is-cool.me`"
  domains/mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Update dnsconfig.js
  dnsconfig.js
Owners: @LightHostingFree

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update www.is-cool.me.json
  domains/reserved/www.is-cool.me.json
Owners: @is-cool-me/owners

Update www.is-cool.me.json
  domains/reserved/www.is-cool.me.json
Owners: @is-cool-me/owners

Create test.is-cool.me.json
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

created is-cool-me/register
  .github/workflows/validation.yml
Owners: @LightHostingFree

created is-cool-me/register
  .github/workflows/cla.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

feat(domain): add `leafyleaf.is-cool.me`
  domains/leafyleaf.is-cool.me.json
Owners: @is-cool-me/maintainers

Delete domains/test.is-cool.me.json
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update leafyleaf.is-cool.me.json
  domains/leafyleaf.is-cool.me.json
Owners: @is-cool-me/maintainers

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

feat(domain): add `librarypmshrikvalwar.is-cool.me`
  domains/librarypmshrikvalwar.is-cool.me.json
Owners: @is-cool-me/maintainers

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/maintainers
terms.md @is-cool-me/owners
