Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/maintainers
terms.md @is-cool-me/owners

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update librarypmshrikvalwar.is-cool.me.json
  domains/librarypmshrikvalwar.is-cool.me.json
Owners: @is-cool-me/maintainers

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

feat(domain): add `test.is-cool.me`
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

feat(domain): add `test.is-app.tech`
  domains/test.is-app.tech.json
Owners: @is-cool-me/maintainers

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Update approve.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Create raw-api2.yml
  .github/workflows/raw-api2.yml
Owners: @LightHostingFree

Update raw-api2.yml
  .github/workflows/raw-api2.yml
Owners: @LightHostingFree

Create I
  domains/AorzoHosting/I
Owners: @LightHostingFree

Register
  domains/AorzoHosting/test.is-app.tech.json
Owners: @LightHostingFree

Register
  domains/AorzoHosting/I
Owners: @LightHostingFree

Update leafyleaf.is-cool.me.json
  domains/leafyleaf.is-cool.me.json
Owners: @is-cool-me/maintainers

feat(domain): add `telegram.is-app.tech`
  domains/telegram.is-app.tech.json
Owners: @is-cool-me/maintainers

Update telegram.is-app.tech.json
  domains/telegram.is-app.tech.json
Owners: @is-cool-me/maintainers

Update telegram.is-app.tech.json
  domains/telegram.is-app.tech.json
Owners: @is-cool-me/maintainers

Create api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Create ryuxyro.is-cool.me.json
  ryuxyro.is-cool.me.json
Owners: @LightHostingFree

Update ryuxyro.is-cool.me.json
  ryuxyro.is-cool.me.json
Owners: @LightHostingFree

Revert "Create ryuxyro.is-cool.me.json"
  ryuxyro.is-cool.me.json
Owners: @LightHostingFree

Register ryuxyro.is-cool.me
  domains/ryuxyro.is-cool.me.json
Owners: @is-cool-me/maintainers

Register Mayank.is-cool.me
  domains/e061df4f77de669cd720556d9b430ef2.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Register mayank.is-cool.me
  domains/mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Register mayank.is-cool.me
  domains/_D3A42E7095D0F344B33882BE1888A941.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Register mayank.is-cool.me
  domains/_D3A42E7095D0F344B33882BE1888A941.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Delete domains/mayank.is-cool.me.json
  domains/mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Register mayank.is-cool.me
  domains/mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Register mayank.is-cool.me
  domains/mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Revert "Register mayank.is-cool.me"
  domains/mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Delete .github/workflows/raw-api2.yml
  .github/workflows/raw-api2.yml
Owners: @LightHostingFree

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Update _D3A42E7095D0F344B33882BE1888A941.mayank.is-cool.me.json
  domains/_D3A42E7095D0F344B33882BE1888A941.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Update e061df4f77de669cd720556d9b430ef2.mayank.is-cool.me.json
  domains/e061df4f77de669cd720556d9b430ef2.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Update ryuxyro.is-cool.me.json
  domains/ryuxyro.is-cool.me.json
Owners: @is-cool-me/maintainers

feat(domain): add `shopytestweb.is-cool.me`
  domains/shopytestweb.is-cool.me.json
Owners: @is-cool-me/maintainers

feat(domain): add `shopytestapi.is-cool.me`
  domains/shopytestapi.is-cool.me.json
Owners: @is-cool-me/maintainers
