Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

Delete _vercel.is-app.tech.json
  _vercel.is-app.tech.json
Owners: @LightHostingFree

Add files via upload
  domains/_vercel.is-app.tech.json
Owners: @is-cool-me/maintainers

Delete domains/_vercel.is-app.tech.json
  domains/_vercel.is-app.tech.json
Owners: @is-cool-me/maintainers

Create itsfatlumsmp.is-cool.me.json
  itsfatlumsmp.is-cool.me.json
Owners: @LightHostingFree

Update and rename itsfatlumsmp.is-cool.me.json to itsfsmp.is-cool.me.json
  itsfsmp.is-cool.me.json
Owners: @LightHostingFree

Delete itsfsmp.is-cool.me.json
  itsfsmp.is-cool.me.json
Owners: @LightHostingFree

Add files via upload
  domains/itsfsmp.is-cool.me.json
Owners: @is-cool-me/maintainers

Add files via upload
  domains/blackingcobra.is-cool.me.json
Owners: @is-cool-me/maintainers

Update fatlum.is-cool.me.json
  domains/fatlum.is-cool.me.json
Owners: @is-cool-me/maintainers

Update fatlum.is-cool.me.json
  domains/fatlum.is-cool.me.json
Owners: @is-cool-me/maintainers

Update fatlum.is-cool.me.json
  domains/fatlum.is-cool.me.json
Owners: @is-cool-me/maintainers

Update fatlum.is-cool.me.json
  domains/fatlum.is-cool.me.json
Owners: @is-cool-me/maintainers

Create xlanzz.is-cool.me.json
  domains/xlanzz.is-cool.me.json
Owners: @is-cool-me/maintainers

Create gyan.is-cool.me.json
  domains/gyan.is-cool.me.json
Owners: @is-cool-me/maintainers

Update gyan.is-cool.me.json
  domains/gyan.is-cool.me.json
Owners: @is-cool-me/maintainers

Update domains
  domains/minitor.is-cool.me.json
Owners: @is-cool-me/maintainers

Delete domains/minitor.is-cool.me.json
  domains/minitor.is-cool.me.json
Owners: @is-cool-me/maintainers

Add files via upload
  domains/wlj1993.is-cool.me.json
Owners: @is-cool-me/maintainers

Add files via upload
  domains/mano.is-cool.me.json
Owners: @is-cool-me/maintainers

Migration
  README.md
Owners: @is-cool-me/owners

Update Notice
  README.md
Owners: @is-cool-me/owners

Update Supported
  README.md
Owners: @is-cool-me/owners

Add files via upload
  domains/mano.is-cool.me.json
Owners: @is-cool-me/maintainers

Update Ai code reviewer
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update Ai code reviewer
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update Ai code reviewer
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update Ai code reviewer
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update Ai code reviewer
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update Ai code reviewer
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update Ai code reviewer
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/owners

# System Files
*.yml @is-cool-me/owners
*.js @is-cool-me/owners
*.png @is-cool-me/owners
*.py @is-cool-me/owners

etc/* @is-cool-me/owners
