Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

Update ananda.is-epic.me.json
  domains/ananda.is-epic.me.json
Owners: @is-cool-me/maintainers

Create becity.is-epic.me.json
  domains/becity.is-epic.me.json
Owners: @is-cool-me/maintainers

Create becity.is-epic.me.json
  domains/becity.is-epic.me.json
Owners: @is-cool-me/maintainers

Create quickcrypto.is-epic.me.json
  domains/quickcrypto.is-epic.me.json
Owners: @is-cool-me/maintainers

Create marwan.is-epic.me.json
  domains/marwan.is-epic.me.json
Owners: @is-cool-me/maintainers

Update marwan.is-epic.me.json
  domains/marwan.is-epic.me.json
Owners: @is-cool-me/maintainers

Added .gitignore
  .gitignore
Owners: @LightHostingFree

Fix GitHub API issue in copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Improved AI Code Review for Domain Registration
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Enhanced AI Code Review with Auto-Merge Awareness
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Alternative Domain JSON Structures
  examples/api-service.is-epic.me.json
  examples/business-email.is-awsm.tech.json
  examples/cdn-assets.is-awsm.tech.json
  examples/development-env.is-epic.me.json
  examples/gaming-server.is-epic.me.json
  examples/ipv6-only.is-awsm.tech.json
  examples/multi-service.is-awsm.tech.json
  examples/nameserver-subdomain.is-epic.me.json
  examples/portfolio-artist.is-awsm.tech.json
  examples/simple-redirect.is-epic.me.json
Owners: @LightHostingFree

Fix AI code review
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Fix Python syntax error in copilot.py
  etc/tool/copilot.py
  examples/api-service.is-epic.me.json
  examples/business-email.is-awsm.tech.json
  examples/cdn-assets.is-awsm.tech.json
  examples/development-env.is-epic.me.json
  examples/gaming-server.is-epic.me.json
  examples/ipv6-only.is-awsm.tech.json
  examples/multi-service.is-awsm.tech.json
  examples/nameserver-subdomain.is-epic.me.json
  examples/portfolio-artist.is-awsm.tech.json
  examples/simple-redirect.is-epic.me.json
Owners: @is-cool-me/owners, @LightHostingFree

Fix
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Complete fix for copilot.py syntax error
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Create pixillium.is-epic.me.json
  domains/pixillium.is-epic.me.json
Owners: @is-cool-me/maintainers

Create pixillium.is-epic.me
  domains/pixillium.is-epic.me
Owners: @is-cool-me/maintainers

Update copilot.py
  etc/tool/copilot.py
Owners: @is-cool-me/owners

Create sanal.is-epic.me.json
  domains/sanal.is-epic.me.json
Owners: @is-cool-me/maintainers

Update sanal.is-epic.me.json
  domains/sanal.is-epic.me.json
Owners: @is-cool-me/maintainers

Update sanal.is-epic.me.json
  domains/sanal.is-epic.me.json
Owners: @is-cool-me/maintainers

Add files via upload
  domains/sanal.is-awsm.tech.json
Owners: @is-cool-me/maintainers

Create keysys.is-awsm.tech
  domains/keysys.is-awsm.tech
Owners: @is-cool-me/maintainers

Create HydraDev-Studios.is-epic.me.json
  domains/HydraDev-Studios.is-epic.me.json
Owners: @is-cool-me/maintainers

Create sarwagya.is-epic.me.json
  domains/sarwagya.is-epic.me.json
Owners: @is-cool-me/maintainers

Create pushkar.is-epic.me.json
  domains/pushkar.is-epic.me.json
Owners: @is-cool-me/maintainers

Update sarwagya.is-epic.me.json
  domains/sarwagya.is-epic.me.json
Owners: @is-cool-me/maintainers

Update keysys.is-awsm.tech
  domains/keysys.is-awsm.tech
Owners: @is-cool-me/maintainers

Delete domains/deyoxshop.is-epic.me.json
  domains/deyoxshop.is-epic.me.json
Owners: @is-cool-me/maintainers

Delete domains/keysys.is-awsm.tech
  domains/keysys.is-awsm.tech
Owners: @is-cool-me/maintainers

Create damon.is-epic.me.json
  domains/damon.is-epic.me.json
Owners: @is-cool-me/maintainers

add kebabtacos.is-epic.me
  domains/kebabtacos.is-epic.me.json
Owners: @is-cool-me/maintainers

Create krystalinn.is-epic.me.json
  domains/krystalinn.is-epic.me.json
Owners: @is-cool-me/maintainers

Update sanal.is-awsm.tech.json
  domains/sanal.is-awsm.tech.json
Owners: @is-cool-me/maintainers

Update sanal.is-epic.me.json
  domains/sanal.is-epic.me.json
Owners: @is-cool-me/maintainers

Add files via upload
  domains/parvathy.sanal.is-awsm.tech.json
Owners: @is-cool-me/maintainers

Update parvathy.sanal.is-awsm.tech.json
  domains/parvathy.sanal.is-awsm.tech.json
Owners: @is-cool-me/maintainers

Create savadkohi-srv.is-epic.me
  domains/savadkohi-srv.is-epic.me
Owners: @is-cool-me/maintainers

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/owners

# System Files
*.yml @is-cool-me/owners
*.js @is-cool-me/owners
*.png @is-cool-me/owners
*.py @is-cool-me/owners

etc/* @is-cool-me/owners
