Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/owners

# System Files
*.yml @is-cool-me/owners
*.js @is-cool-me/owners
*.png @is-cool-me/owners
*.py @is-cool-me/owners

etc/* @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Create lilbird.is-cool.me.json
  domains/lilbird.is-cool.me.json
Owners: @is-cool-me/maintainers

Delete requirements.txt
  requirements.txt
Owners: @LightHostingFree

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Create requirements.txt
  requirements.txt
Owners: @LightHostingFree

Create save-pr-number.yml
  .github/workflows/save-pr-number.yml
Owners: @is-cool-me/owners

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

Update validation.yml
  .github/workflows/validation.yml
Owners: @is-cool-me/owners

feat(domain): test.is-cool.me
  domains/test.json
Owners: @is-cool-me/maintainers

Delete .github/workflows/stale.yml
  .github/workflows/stale.yml
Owners: @is-cool-me/owners

Delete domains/AorzoHosting/test.is-app.tech.json
  domains/AorzoHosting/test.is-app.tech.json
Owners: @LightHostingFree

Create me.is-cool.me.json
  domains/me.is-cool.me.json
Owners: @is-cool-me/maintainers

Create mc.is-cool.me
  domains/mc.is-cool.me
Owners: @is-cool-me/maintainers

Update and rename mc.is-cool.me to mc.is-cool.me.json
  domains/mc.is-cool.me.json
Owners: @is-cool-me/maintainers

Create xcx0902.is-cool.me.json
  domains/xcx0902.is-cool.me.json
Owners: @is-cool-me/maintainers

feat(domain): bangexams.is-cool.me
  domains/bangexams.json
Owners: @is-cool-me/maintainers

Create shadowgaming.is-cool.me.json
  domains/shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update shadowgaming.is-cool.me.json
  domains/shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Create ns1.shadowgaming.is-cool.me
  domains/ns1.shadowgaming.is-cool.me
Owners: @is-cool-me/maintainers

Update and rename ns1.shadowgaming.is-cool.me to ns1.shadowgaming.is-cool.me.json
  domains/ns1.shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update ns1.shadowgaming.is-cool.me.json
  domains/ns1.shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Create ns2.shadowgaming.is-cool.me.json
  domains/ns2.shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update shadowgaming.is-cool.me.json
  domains/shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update ns2.shadowgaming.is-cool.me.json
  domains/ns2.shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update shadowgaming.is-cool.me.json
  domains/shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update shadowgaming.is-cool.me.json
  domains/shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update ns1.shadowgaming.is-cool.me.json
  domains/ns1.shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update ns2.shadowgaming.is-cool.me.json
  domains/ns2.shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update shadowgaming.is-cool.me.json
  domains/shadowgaming.is-cool.me.json
Owners: @is-cool-me/maintainers

Update opott.is-app.tech.json
  domains/opott.is-app.tech.json
Owners: @is-cool-me/maintainers

Update requirements.txt
  requirements.txt
Owners: @LightHostingFree

Update copilot.yml
  .github/workflows/copilot.yml
Owners: @is-cool-me/owners

feat(domain): toolsapp.is-cool.me
  domains/toolsapp.json
Owners: @is-cool-me/maintainers

Update and rename bangexams.json to bangexams.is-cool-me.json
  domains/bangexams.is-cool-me.json
Owners: @is-cool-me/maintainers

Update and rename toolsapp.json to toolsapp.is-cool.me.json
  domains/toolsapp.is-cool.me.json
Owners: @is-cool-me/maintainers

Update and rename bangexams.is-cool-me.json to bangexams.is-cool.me.json
  domains/bangexams.is-cool.me.json
Owners: @is-cool-me/maintainers

Fix CLA workflow
  .github/workflows/cla.yml
Owners: @is-cool-me/owners

.
  media/banner
Owners: @LightHostingFree

Rename banner to banner.png
  media/banner.png
Owners: @is-cool-me/owners
