Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/maintainers
terms.md @is-cool-me/owners

Update api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Delete domains/reserved/api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Create api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Update api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Update api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

feat(domain): add `ycanyaz.is-app.tech`
  domains/ycanyaz.is-app.tech.json
Owners: @is-cool-me/maintainers

Update merge.yml
  .github/workflows/merge.yml
Owners: @LightHostingFree

Create imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me
  domains/imrbk123abc.is-cool.me.json
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me.json
  domains/imrbk123abc.is-cool.me.json
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me.json
  domains/imrbk123abc.is-cool.me.json
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me.json
  domains/imrbk123abc.is-cool.me.json
Owners: @is-cool-me/maintainers

Update imrbk123abc.is-cool.me.json
  domains/imrbk123abc.is-cool.me.json
Owners: @is-cool-me/maintainers

Create thiswebsite.is-cool.me
  domains/thiswebsite.is-cool.me
Owners: @is-cool-me/maintainers

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update publish.yml
  .github/workflows/publish.yml
Owners: @LightHostingFree

Update
  .github/workflows/cla.yml
  .github/workflows/validation.yml
Owners: @LightHostingFree

Update
  .github/workflows/merge.yml
Owners: @LightHostingFree

Create dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Test
  .github/workflows/validation.yml
Owners: @LightHostingFree

Update dependabot.yml
  .github/dependabot.yml
Owners: @LightHostingFree

Update dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Update dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Added Stale workflow
  .github/workflows/stale.yml
Owners: @LightHostingFree

Update stale.yml
  .github/workflows/stale.yml
Owners: @LightHostingFree

Update dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Test
  .github/workflows/publish.yml
Owners: @LightHostingFree

feat(domain): add `rneller.is-app.tech`
  domains/rneller.is-app.tech.json
Owners: @is-cool-me/maintainers

feat(domain): add `rneller.is-app.tech`
  domains/rneller.is-app.tech.json
Owners: @is-cool-me/maintainers

Update dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Update api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Update api.is-cool.me.json
  domains/reserved/api.is-cool.me.json
Owners: @is-cool-me/owners

Update is-cool.me.json
  domains/reserved/is-cool.me.json
Owners: @is-cool-me/owners

Delete domains/e061df4f77de669cd720556d9b430ef2.mayank.is-cool.me.json
  domains/e061df4f77de669cd720556d9b430ef2.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers
