Repository is-cool-me/register, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LightHostingFree, @is-cool-me/owners, @is-cool-me/maintainers

Delete domains/_D3A42E7095D0F344B33882BE1888A941.mayank.is-cool.me.json
  domains/_D3A42E7095D0F344B33882BE1888A941.mayank.is-cool.me.json
Owners: @is-cool-me/maintainers

Create check.is-cool.me.json
  domains/reserved/check.is-cool.me.json
Owners: @is-cool-me/owners

feat(domain): add `iwantpiz.is-cool.me`
  domains/iwantpiz.is-cool.me.json
Owners: @is-cool-me/maintainers

Update CNAME iwantpiz.is-cool.me.json
  domains/iwantpiz.is-cool.me.json
Owners: @is-cool-me/maintainers

Update CNAME iwantpiz.is-cool.me
  domains/iwantpiz.is-cool.me.json
Owners: @is-cool-me/maintainers

added stpeterlib.is-app.tech.json
  domains/stpeterlib.is-app.tech.json
Owners: @is-cool-me/maintainers

Update and rename approve.yml to approve-merge.yml
  .github/workflows/approve-merge.yml
  .github/workflows/approve.yml
Owners: @LightHostingFree

Update approve-merge.yml
  .github/workflows/approve-merge.yml
Owners: @LightHostingFree

Update dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Update approve-merge.yml
  .github/workflows/approve-merge.yml
Owners: @LightHostingFree

Update dependabot-merge.yml
  .github/workflows/dependabot-merge.yml
Owners: @LightHostingFree

Update approve-merge.yml
  .github/workflows/approve-merge.yml
Owners: @LightHostingFree

Update stale.yml
  .github/workflows/stale.yml
Owners: @LightHostingFree

feat(domain): add `test.is-cool.me`
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Update approve-merge.yml
  .github/workflows/approve-merge.yml
Owners: @LightHostingFree

Revert "Register test.is-cool.me"
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Update stale.yml
  .github/workflows/stale.yml
Owners: @LightHostingFree

Update stale.yml
  .github/workflows/stale.yml
Owners: @LightHostingFree

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Revert "Revert "Register test.is-cool.me""
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Revert "Revert "Revert "Register test.is-cool.me"""
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Update cla.yml
  .github/workflows/cla.yml
Owners: @LightHostingFree

Update CLI command
  README.md
Owners: @is-cool-me/maintainers

feat(domain): add `test.is-cool.me`
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

feat(domain): add `test.is-cool.me`
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Revert "Register test.is-cool.me"
  domains/test.is-cool.me.json
Owners: @is-cool-me/maintainers

Update raw-api.yml
  .github/workflows/raw-api.yml
Owners: @LightHostingFree

Update dnsconfig.js
  dnsconfig.js
Owners: @LightHostingFree

.github/CODEOWNERS:

# All Files
* @LightHostingFree

# Reserved Domains
domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @is-cool-me/maintainers

# MD Files
*.md @is-cool-me/maintainers
terms.md @is-cool-me/owners
